
.card-child{
    min-width: 350px;
    height: 600px;
    background-color: white;
/* position: absolute; */
margin: 20px;
color:black;
z-index: 4;
display: flex;
flex-direction: column;
border-radius: 20px;
overflow: hidden;
/* position: relative; */
}
.card-img{
    height: 400px;
    object-fit: cover;
}
.card-child:first-child{
    /* background-color: pink; */
    margin-left: 40vw;
}
.card-info{
    display: flex;
    flex-direction: column;
padding: 20px;

}
.new{
    align-items: center;
  

}
.profiles{
display: flex;
width: 100%;
height: 40px;

padding:10px 20px;

/* align-items:stretch; */

}
.card{
    color: white;
    /* padding: 0px; */
    background-color: black;
  margin-left: 50%;
  width: auto;
  font-size: 0.9rem;

}

.card-profile{
    margin-left: -20px;

}
.card-profile img{
    height: 40px;
    width: 40px;
    border: 2px solid pink;
    border-radius: 100%;   
}

.card-info span:nth-child(2){
    /* font-weight: 600; */
    font-size: 0.8rem;
    line-height: 95%;
}
.card-info span:nth-child(1){
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
#slide{
    position: absolute;
    left: 65vw;
    margin-top: 70px;
    /* top: 3vh; */
}
.cards{

    overflow-x: auto;
    overflow-y: none;
    display: flex;
    height: 700px;
    margin-top: 32vh;

}
.card-title{
    opacity: 0.5;
    position: absolute;
    margin: 5vw;
    /* z-index: 2; */
    font-size: 5rem;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.cards::-webkit-scrollbar {
    display: none;
  }
  .new-card{
      display: flex;
      align-items: center;
      text-align: center;
    
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .cards {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .new-img{
      
      width: 300px;
     
      object-fit: unset;
  }
  .cardcontainer{
      min-height: 950px;
  }
  .add{
    background-color: black;
    color: white;
  }