.hero-cont{height: 100vh;
    width: 100%;
    margin-top: 5vh;
transition: all ease-in-out 0.2s;
background-position: 80% 30%;
display: flex;
/* padding: 10vw; */
padding: 2vw 10vw;
color: white;
/* text-shadow: 2px 2px  5px black; */
justify-content: flex-end;
flex-direction: column;
}
.hero-cont *{
z-index: 4;

}
/* {.hero-cont::before{
    content: "";
    margin-top: 5vh;

    padding: 0px;
left: 0px;
top: 0px;
z-index: 2;
   width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.44);
    position: absolute;

}} */

.hero-title{
    width: 60%;
    font-weight: 700;
/* <<<<<<< HEAD */
    line-height: 90%;
/* margin-top: 10px; */
font-size: 5rem;
/* ======= */
font-size: 4rem;
line-height: 90%;
}
.hero-cont span:nth-child(2){
    width: 50vw;
    margin:20px  0px;
font-size: 1.5rem;
font-weight: 600;
text-shadow: 2px 0px  2px black;

}
@media (max-width:800px)
{
    .hero-title{
    width: 50%;
    font-weight: 700;
font-size: 2.3rem;
}
.hero-cont{
background-position: 65% 20%;

}
.hero-cont span:nth-child(2)
{
font-size: 1rem;
}
}