.navbar{
    position:fixed;
    top: 0px;
display: flex;
z-index: 4;
width: 100%;
flex-direction: column;
padding: 10px;
background-color:#1e1229;
align-items: center;
z-index: 20;
}
.menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
    size: 50%;
}
.links{
    height: 15vh;
    transition: all 0.2s;
    overflow: hidden;
    text-align: center;
    cursor:grab;
    display: flex;
    flex-direction: column;
}
.closed{
    height: 0px;

}
.links a{
    text-decoration: none;
    color: white;
}
.zippylogo{
   size: 50%;
    margin-left: 4vw;
}