
.d1{
    background-color: #4D8270;
    color: white;
    width: 100%;
    display: flex;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    }
    .title{
        font-weight: 600;
     line-height: 90%;
        font-size: 4rem;
    }
.btn{
    font-family: 'Poppins', sans-serif !important;

    width: 200px;
    padding: 10px;
    outline: none;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 10px;
    border-radius: 100px;
    border: none;
}
    .text{
        width: 80%;
        display: flex;
        flex-direction: column;
        padding: 5vh;
        justify-content: center; 
               height: 100%;
        /* background-color: antiquewhite; */
    }
    .para{
        font-size: 25px;
    }
    .img{
        width: 100%;
        margin-top: 10%;
        overflow: hidden;
        height: 100%;
        position: relative; 
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 30px; */
        
    }
    .img img{
       
        position: absolute;
        bottom: 0px;
 width:50vw;
 
        height: 90%;
    
    }
    .third{
       background-color: #D6184D;
    }
    .grind{
        background-color: #fff;
        color: #0086FB;
        display:flex;
        align-items: center;
        flex-direction: column;
    justify-content: space-around;    }
    .text2{
        display: flex;
        flex-direction: column;
        font-weight: 600;
        align-items: center;
    
    }
    .text2 span:nth-child(3){
        width: 50%;
        text-align: center;
        font-weight: 600;
    }
    
    .text2 span:nth-child(){
        width: 50%;
   
    }
    .grind img{
width: 50vw;

    }
    .grind .btn{
        color: white;
        font-size: 1rem;
        background-color: #0086FB;

    }
    
   




    @media  only screen and (max-width: 600px) {
        .d1
        {
            flex-direction: column;
        }
        .title{
            font-size: 3rem;
        }
        .text2 span:nth-child(3){
            width: 80%;
       
        }
        .grind img{
            width: 80vw;
            
                }
    }